
@{
    ViewBag.Title = "Index";
}

<h2>Products Information</h2>

<div class="panel panel-primary">
<div class="panel-heading">
    ASP.NET <b>Request</b> Object
</div>
<div class="panel-body">
    <p>Product Name: <b>@ViewBag.ProductName</b></p>
    <p>Application Path: <b>@ViewBag.AppPath</b></p>
    <p>Request Type: <b>@ViewBag.RequetType</b></p>
    <p>URL: <b>@ViewBag.url</b></p>
    <p>Browser: <b>@ViewBag.Browser</b></p>

</div>
</div>



